{% extends 'layout.html' %}
{% block body %}
    {% if error %}<strong>Error: </strong> {{ error }}{% endif %}

    <form method="post">
        <label>Title <input type="text" name="title"></label><br>
        <label>Text <textarea name="text"></textarea></label><br>
        <button>Submit</button>
    </form>
{% endblock %}
