{% extends 'layout.html' %}
{% block body %}
    {% if error %}<strong>Error: </strong> {{ error }}{% endif %}

    <form method="post">
        <label>Username <input type="text" name="username"></label><br>
        <label>Password <input type="password" name="password"></label><br>
        <button>Submit</button>
    </form>
{% endblock %}
