{% extends 'layout.html' %}
{% block body %}
    <h1>Entries</h1>
    <a href="{{ url_for('add_entry') }}">+ Add</a>
    <ol>
        {% for entry in entries %}
            <li>
                {{ entry.title }}<br>
                {{ entry.text }}
            </li>
        {% else %}
            <li><em>Unbelievable! No entries so far!</em></li>
        {% endfor %}
    </ol>
{% endblock %}
